URxvt.font: xft:JetBrainsMono:pixelsize=14

! special
*.foreground:   #a8a19f
*.background:   #1b1918
*.cursorColor:  #a8a19f

! black
*.color0:       #1b1918
*.color8:       #766e6b

! red
*.color1:       #f22c40
*.color9:       #f22c40

! green
*.color2:       #5ab738
*.color10:      #5ab738

! yellow
*.color3:       #d5911a
*.color11:      #d5911a

! blue
*.color4:       #407ee7
*.color12:      #407ee7

! magenta
*.color5:       #6666ea
*.color13:      #6666ea

! cyan
*.color6:       #00ad9c
*.color14:      #00ad9c

! white
*.color7:       #a8a19f
*.color15:      #f1efee

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.scrollBar: false

URxvt.depth: 32
URxvt.background:[80]#000000

URxvt.internalBorder: 10

URxvt.cursorBlink:          false
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      true
