[Desktop Entry]
Version=22.0.0
Name=dbeaver
GenericName=Universal Database Manager
Comment=Universal Database Manager And Sql Client
Keywords=Database;SQL;IDE;JDBC;ODBC;MySQL;PostgreSQL;Oracle;DB2;MariaDB
Exec=/opt/dbeaver/dbeaver
Icon=dbeaver
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=DBeaver
Categories=IDE;Development
MimeType=application/sql
